main
  max-width: 900px

form
  top: -30px
  input
    padding: 18px 15px
    color: #F2F2F2
    border-radius: 10px
  .task-input
    background: #262626
  input::placeholder
    color: white

.counter
  background: #333
  color: #d9d9d9 !important
  border-radius: 999px
  padding: 2px 8px
